@model Pagination<Hero>

@{
    ViewBag.Title = "Heroes List";
}

<style>
    img:hover {
        transform: scale(1.1); /* Scale the image by 10% on hover */
    }

    img {
        transition: transform 0.3s ease-in-out; /* Add a smooth transition to the transform property */
    }

    .add .btn{
        width: 40px;
        height: 40px;
        border-radius: 10%;
        position: fixed;
        bottom: 20px;
        right: 20px;   
    }
    

</style>

@if (!Model.Data.Any())
{
        <h3 class="text-center mt-5">No Results Found</h3>
}
else
{
    <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination">
                <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")"><a class="page-link"
                   asp-controller="home" asp-action="List" asp-route-page="@(Model.PageNumber-1)">Previous</a>
                </li> 
            @for (int i = 1; i <= Model.TotalPages; ++i)
            {
                        <li class="page-item @(Model.PageNumber == i ? "active": "" )"><a class="page-link"
                       asp-controller="home" asp-action="List" asp-route-page="@i"> @i</a>
                </li>
            }
                <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                    <a class="page-link"
                   asp-controller="home" asp-action="List" asp-route-page="@(Model.PageNumber+1)">Next</a>
            </ul>
    </nav>
    <div class="row justify-content-center cards-container">

        @for (int i = 0; i < Model.Data.Count(); ++i)
        {
            var photoPath = "~/imgs/" + (Model.Data[i].PhotoPath ?? "profile.jpg");

                <div class="card-container">
                    <div id="hero-card" class="card m-3 col-3-sm">

                        <div class="card-header">
                                <h3>@Model.Data[i].Name</h3>
                        </div>

                        <div class="card-body">
                            <a asp-action="details" asp-route-id="@Model.Data[i].Id"><img class="card-img img-fluid mx-auto" style="padding:5%; height:300px;" src="@photoPath" asp-append-version="true"></a>
                        </div>

                        <div class="card-footer text-center">
                                <a asp-controller="home" asp-action="details" , asp-route-id="@Model.Data[i].Id"
                               class="btn btn-outline-secondary m-1">View</a>
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Data[i].Id" class="btn btn-outline-secondary m-1">Edit</a>

                                <button asp-route-id="@Model.Data[i].Id"
                                    class="btn btn-outline-danger m-1" 
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal-@Model.Data[i].Id">
                                Delete
                                </button>


                                <div class="modal fade" id="delete-modal-@Model.Data[i].Id" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5>Delete Confirmation</h5>
                                                <button type="button"
                                                        class="close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                        data-bs-target="#modal"></button>

                                            </div>

                                            <div class="modal-body">
                                                Are you sure you want to remove Hero: @Model.Data[i].Name
                                                <br>
                                                <span class="font-weight-bold">@Model.Data[i].Id</span>
                                            </div>

                                            <div class="modal-footer">
                                                <form method="post" asp-controller="home" asp-action="Delete" asp-route-id="@Model.Data[i].Id">
                                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                                                </form>
                                                <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        }

    </div>

}
<nav aria-label="Page navigation example" class="mb-3 mt-3">
    <ul class="pagination">
        <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
            <a class="page-link"
               asp-controller="home" asp-action="List" asp-route-page="@(Model.PageNumber-1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; ++i)
        {
            <li class="page-item @(Model.PageNumber == i ? "active": "" )">
                <a class="page-link"
                   asp-controller="home" asp-action="List" asp-route-page="@i"> @i</a>
            </li>
        }
        <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
            <a class="page-link"
               asp-controller="home" asp-action="List" asp-route-page="@(Model.PageNumber+1)">Next</a>
    </ul>
</nav>

<div class="add">
    <a class="btn btn-outline-secondary" asp-action="create"><i class="bi bi-plus"></i></a>
</div>
