
@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Info";
    var photoPath = "~/imgs/" + (Model.Employee.PhotoPath ?? "profile.jpg");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">

            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>  

            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail mb-3" src="@photoPath" asp-append-version="true">

                <table class="table">
                    <tbody>
                        <tr>
                            <td>Employee ID</td>
                            <td>@Model.Employee.Id</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>@Model.Employee.Name</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>@Model.Employee.Gender</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@Model.Employee.Email</td>
                        </tr>
                        <tr>
                            <td>Department</td>
                            <td>@Model.Employee.Department</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-center">

                <a asp-controller="home" asp-action="index" class="btn btn-outline-secondary">Back</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-outline-primary m-1">Edit</a>
                <button asp-route-id="@Model.Employee.Id"
                        class="btn btn-outline-danger m-1" data-bs-toggle="modal"
                        data-bs-target="#delete-modal-@Model.Employee.Id">
                    Delete
                </button>

                <div class="modal fade" id="delete-modal-@Model.Employee.Id">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Delete Confirmation</h5>
                                <button type="button"
                                        class="close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        data-bs-target="#modal"></button>

                            </div>

                            <div class="modal-body">
                                Are you sure you want to delete role:
                                <br>
                                <span class="font-weight-bold">@Model.Employee.Id</span>
                            </div>

                            <div class="modal-footer">
                                <form method="post" asp-controller="home" asp-action="Delete" asp-route-id="@Model.Employee.Id">
                                    <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Yes</button>
                                </form>
                                <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    