@model List<Employee>

@{
    ViewBag.Title = "Employees List";
}

<style>
    img:hover {
        transform: scale(1.2); /* Scale the image by 10% on hover */
    }
    
    img {
        transition: transform 0.3s ease-in-out; /* Add a smooth transition to the transform property */
    }
</style>

<div class="row justify-content-center cards-container">
    @for (int i = 0; i < Model.Count; ++i)
    {
        var photoPath = "~/imgs/" + (Model[i].PhotoPath ?? "profile.jpg");

        <div class="card-container">
            <div id="hero-card" class="card m-3 col-3-sm">

                <div class="card-header">
                    <h3>@Model[i].Name</h3>
                </div>

                <div class="card-body">
                    <a asp-action="details" asp-route-id="@Model[i].Id"><img class="card-img img-fluid mx-auto" style="padding:5%; height:300px;" src="@photoPath" asp-append-version="true"></a>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" , asp-route-id="@Model[i].Id"
                       class="btn btn-outline-secondary m-1">View</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-outline-secondary m-1">Edit</a>
                    <button asp-route-id="@Model[i].Id"
                            class="btn btn-outline-danger m-1" data-bs-toggle="modal"
                            data-bs-target="#delete-modal-@Model[i].Id">
                        Delete
                    </button>

                    <div class="modal fade" id="delete-modal-@Model[i].Id">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Delete Confirmation</h5>
                                    <button type="button"
                                            class="close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                            data-bs-target="#modal"></button>

                                </div>

                                <div class="modal-body">
                                    Are you sure you want to remove employee: @Model[i].Name
                                    <br>
                                    <span class="font-weight-bold">@Model[i].Id</span>
                                </div>

                                <div class="modal-footer">
                                    <form method="post" asp-controller="home" asp-action="Delete" asp-route-id="@Model[i].Id">
                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                                    </form>
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        
    }
    
</div>