@model EditUserViewModel

@{
	ViewBag.Title = "Edit User";
}

<h1>Edit User</h1>

<form method="post" asp-controller="adminstration" asp-action="EditUser">
	<div class="form-group">
		<label class="col-form-label" asp-for="Id"></label>
		<input class="form-control" asp-for="Id" disabled/>
	</div>

	<div class="form-group">
		<label class="col-form-label" asp-for="Email"></label>
		<input class="form-control" asp-for="Email"  />
	</div>

	<div class="form-group">
		<label class="col-form-label" asp-for="UserName"></label>
		<input class="form-control" asp-for="UserName"  />
	</div>

	<div class="form-group">
		<label class="col-form-label" asp-for="City"></label>
		<input class="form-control" asp-for="City" />
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Update</button>
		<a asp-controller="adminstration" asp-action="UsersList" class="btn btn-danger">Cancel</a>
	</div>

	<div asp-validation-summary="All" class="text-danger"></div>

	@if(Model.Roles.Any())
	{
			<div class="card mb-3">
				<div class="card-header">
					<h3 class="card-title">User Roles</h3>
				</div>
				<div class="card-body">
					@foreach (var role in Model.Roles)
					{
						<h5 class="card-title">@role</h5>
					}
				</div>
				<div class="card-footer">
				<a asp-controller="adminstration" asp-action="ManageUserRoles" asp-route-userId="@Model.Id" class="btn btn-primary w-auto">Manage Roles</a>
				</div>
			</div>
	}
	else
	{
		<div class="card mb-3">
			<div class="card-header">
				<h3 class="card-title">User Roles</h3>

			</div>
			<div class="card-body">
				None at the moment
			</div>
			<div class="card-footer">
				<a asp-controller="adminstration" asp-action="ManageUserRoles" asp-route-userId="@Model.Id" class="btn btn-primary w-auto">Manage Roles</a>
			</div>
		</div>
	}

	
	@if (Model.Claims.Any())
	{	
			<div class="card mb-3">
				<div class="card-header">
					<h3 class="card-title">User Claims</h3>
				</div>
				<div class="card-body">
					@foreach (var claim in Model.Claims)
					{
					<h5 class="card-title">@claim</h5>
					}
				</div>
				<div class="card-footer">
					<a asp-controller="adminstration" asp-action="ManageUserClaims" asp-route-userId="@Model.Id" class="btn btn-primary w-auto">Manage Claims</a>
				</div>
			</div>
	}
	else
	{
		<div class="card mb-3">
			<div class="card-header">
				<h3 class="card-title">User Claims</h3>
			</div>
			<div class="card-body">
				None at the moment
			</div>
			<div class="card-footer">
				<a asp-controller="adminstration" asp-action="ManageUserClaims" asp-route-userId="@Model.Id" class="btn btn-primary w-auto">Manage Claims</a>
			</div>
		</div>
	}

	

</form>