@model List<UserRoleViewModel>;

@{
	ViewBag.Title = "Manage Users Roles";
	var roleId = ViewBag.roleId;
}

<form method="post" asp-action="EditUsersInRole" asp-controller="adminstration">
	<div class="card">
		<div class="card-header">
			<h2>
				Add or remove users from this role
			</h2>
		</div>

		<div class="card-body">
			@for (int i = 0; i < Model.Count ; ++i)
			{
				<div class="form-check">
					<input hidden asp-for="@Model[i].UserId" />
					<input hidden asp-for="@Model[i].UserName" />
					<input class="form-check-input" asp-for="@Model[i].IsSelected">
					<label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
				</div>
			}
		</div>

		<div class="card-footer">
			<button type ="submit" class="btn btn-primary" asp-route-roleId ="@roleId" style="width:auto">Update</button>
			<a asp-action="RolesList" asp-controller="adminstration" style="width:auto" class="btn btn-primary">Cancel</a>
		</div>
	</div>
</form>

