@model List<UserRolesViewModel>;

@{
	var userId = ViewBag.userId;
	ViewBag.Title = "Manage User Roles";
}

<form method="post" asp-controller="adminstration" asp-action="ManageUserRoles" asp-route-userId = "@userId">
	<div class="card mt-3">

		<div class="card-header">
			<h2>Manage User Roles</h2>
		</div>

		<div class="card-body">
			@if(Model.Any())
			{
				@for (int i = 0; i < Model.Count; ++i)
				{
					<div class="form-check">

						<input asp-for="@Model[i].RoleId" type="hidden"/>
						<input asp-for="@Model[i].RoleName" type="hidden" />

						<input class="form-check-input" asp-for="@Model[i].IsSelected">
						<label class="form-check-label" asp-for="@Model[i].IsSelected">
							@Model[i].RoleName
						</label>
					</div>
				}
			}
			else
			{
				
			}
		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary w-auto">Update</button>
			<a asp-controller="adminstration" class="btn btn-primary w-auto" asp-action="EditUser" asp-route-id="@userId">Cancel</a>
		</div>

	</div>
</form>