@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles List";
}

<h1>All Roles</h1>


@if (Model.Any())
{    
    <a asp-action="CreateRole" asp-controller="Adminstration" class="btn btn-secondary mb-3" style="width:auto">Add New Role</a>

    foreach(var role in Model)
    {
        <div class="card mb-3">
		    <div class="card-header">
                Role Id: @role.Id
            </div>

		    <div class="card-body">
			    <h5 class="card-title">
                    @role.Name
                </h5>  
            </div>

			<div class="card-footer">
                <a asp-controller="adminstration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-@role.Id">Delete</button>

            </div>

            <div class="modal fade" id="delete-modal-@role.Id">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Delete Confirmation</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete role:
                            <br>
							<span class="font-weight-bold">@role.Id</span>
                        </div>
                        <div class="modal-footer">
                            <form method="post" asp-action="DeleteRole" asp-controller="adminstration" asp-route-id="@role.Id">
								<button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                            </form>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>  
    }
}
else
{
    <div class="card">
		<div class="card-header">
            No Roles Yet
        </div>
		<div class="card-body">
			<h5 class="card-title">
                Use the button below to create a new role
            </h5>
		    <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="Adminstration">Create Role</a>
        </div>
    </div>    
}


